<div class="container">
	<div class="intro">
		<h1>{{title}}</h1>
		<p class="center"> Strong analytical skills, softskills, quick learner and can comfortably work with a team or as an individual. A correct blend of technical knowledge and communication skills to excel in the software field. Want to obtain a role which helps continuously enhance my knowledge and have all the requisite skills compatible to the prevalent leading edge technologies. </p>
	</div>

	<div>
		<h2> Acedemic Profile </h2>
		<h3> Master of Science in Computer Science </h3> 
		<a href="https://www.odu.edu/"> Old Dominion University, Norfolk, VA </a>
		<p>  (GPA: 3.67) </p> 
	</div>
	<div>
		<h3> Bachelor of Engineering in Information Science </h3> 
		<a href="http://www.acharya.ac.in/"> Acharya Institute of Technology, Bangalore, India </a>
		<p>  (GPA: 3.67) </p> 
	</div>

	<div>
		<h2> Work Experience </h2>
		<p class="work"> Quality Analysis Intern at Dominion Enterprises </p> 
		<h4> Norfolk, VA </h4> 
		<p>Assisted in writing test plans and testing the functionality for a web-based application. Identified, documented and reported bugs, errors and other issues within the application. Developed automation codes for testing the web portal using Java with Cucumber framework. Worked on UI related development tasks based on PHP, HTML and Javascript. </p>

		<p class="work"> Graduate Teaching Assistant at Old Dominion University  </p> 
		<h4> Norfolk, VA </h4> 
		<p>Work on the Course Portal, which is extensively used in this course, using C# with VisualBasics. Instruct CS120 course in Computer Science Department, manage hands-on sessions with students and assistprofessor in delivering lectures to about 300 students. Awarded best Teaching assistant of 2016. </p>

		<p class="work"> Summer Intern at Old Dominion University (2014)  </p> 
		<h4> Norfolk, VA </h4> 
		<p>Worked on Android Application for project based on Wi-Fi localization and triangulation. Also, worked on Cross-layered Energy Efficient Routing protocol for Mobile Ad-Hoc networks with Network Simulator (2.34), tcl scripting and C++. </p>
	</div>
	<div>
		<h2> Significant Projects </h2>
		<a class="projects" href="https://git-community.cs.odu.edu/sshankar/MS_Project"> MS Project (January 2017 – April 2017) </a> 
		<p> Visualization of web archived pages using HTML, JavaScript, D3, JQuery and other libraries. </p>

		<a class="projects" href="https://github.com/surbhishankar/ODUCS418F16"> Web Development Project (August 2016 – December 2016) </a> 
		<p> Developed a Q&A website like Stackoverflow using LAMP stack, jQuery, PHP and MySQL. Used Docker Test and demo server for running the codes and used git for version control via Github. </p>

		<h2> Other Projects </h2>
		<a class="otherprojects"> Data Visualization course project (March 2015 – May 2015) </a> 
		<p> A convenient system which can be used by students on a University campus to track where their classes are being held and also helps to get statistics based on number of classes held on campus and information related to it. This was achieved by using D3, JQuery,Google APIs and tableau tool for visualization. </p>

		<a class="otherprojects"> Smart Car Parking and Retrieval System for Large Car Parking Areas (Jan 2015 – June 2015) </a> 
		<p> A fully developed system built using Java, HTML and JavaScript, to help people pre-book parking location, use of features like updating users through emails and messages and smart bill generation. </p>
	</div>
</div>
