.image {
	background-position: center;
    background-size: cover;
    width: 100%;
    height: 1800px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
	font-size: 2.5em;
	color: #999;
	margin-bottom: 0;
	text-align: center;
}
h2 {
	font-size: 2em;
	margin-top: 0;
	padding-top: 0;
}
nav {
	background-color: transparent;
	width: 50%;
	margin-left: 25%;
}
nav a {
	padding: 15px 15px;
	text-decoration: none;
	margin-top: 10px;
	margin: 0;
	display: inline-block;
	background-color: transparent;
	border-radius: 4px;
}
nav a:visited, a:link {
	color: #EEE;
}
nav a:hover {
	color: #006837;
	background-color: #999;
}
nav a.active {
	color: #006837;
}