.label {
	display: inline-block;
	width: 3em;
	margin: .5em 0;
	color: #006d2c;
	font-weight: bold;
}
.inputfield {
	margin-top: 1em;
	margin-bottom: 1em;
}
textarea.Content {
	margin: 10px;
	font-family: Arial;
	display: inline-block;
	font-size: small;
	width: 60%;
	height: 300px;
	background-color: #eee;
	padding-left: .4em; 
	padding-top: 10px;
	border-radius: 4px;
	word-wrap: break-word;
    word-break: break-word;
}
input {
	height: 2em;
	width: 25%;
	font-size: 1em;
	padding-left: .4em; 
}
button {
	display: inline-block;
	text-decoration: none;
	font-family: Arial;
	font-size: .8em;
	background-color: #edf8e9;
	padding: 5px, 10px;
	border-radius: 4px;
	cursor: pointer;
	color: #006837;
}
button:hover {
	color: #006837;
	background-color: #c2e699;
}
button:disabled {
	background-color: #edf8e9;
	color: #ccc;
	cursor: auto;
}