.search-result {
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	width: 25%;
	height: auto;
	padding: 5px;
	background-color: white;
	cursor: pointer;
	margin-left: 37%;
}
.search-result:hover {
	color: #eee;
	background-color: green;
	margin-left: 37%;
}
#search-box {
	width: 25%;
	height: 25px;
	border: 1px solid #006d2c;
}
h4 {
	font-size: x-large;
	color: white;
}