.selected {
	background-color: #74c476 !important;
	color: white;
}
.cars {
	margin: 0 0 5em 0em;
	list-style-type: none;
	width: 50%;
	margin-left: 20%;
	margin-bottom: 10px;
}
.cars li {
	cursor: pointer;
	background-color: #dbd0d0;
	margin: .8em;
	padding: .3em 0;
	height: 1.6em;
	border-radius: 20px 4px 4px 20px;
}
.cars li.selected:hover {
	background-color: #78c679 !important;
	color: #006d2c;
}
.cars li:hover {
	color: #006d2c;
	background-color: #c2e699;
	left: .1em;
}
.cars .text {
	position: relative;
	top: -3px;
	text-align: center;
}
.cars .badge {
	display: inline-block;
	font-size: small;
	color: white;
	float: left;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: #282828;
	line-height: 1em;
	position: relative;
	top: -4px;
	height: 1.8em;
	margin-right: 2em;
	border-radius: 20px 0 0 20px;
}
button {
	font-family: Arial;
	background-color: #f0f9e8;
	padding: 5px, 10px;
	border-radius: 4px;
	cursor: pointer;
	color: #31a354;
}
button:hover {
	background-color: #c2e699;
}
button.delete {
	float: right;
	margin-top: 2px;
	margin-right: .8em;
	background-color: transparent; 
	border: none;
	cursor: pointer;
	color: #006d2c;
	display: inline-block;
	font-family: Arial;
	font-size: 1em;
}