body {
	color: #888;
	font-family: Cambria, Georgia;
	text-align: center;
	height: 900px;
	width: 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
[class*='col-'] {
	float: left;
	padding-right: 20px;
	padding-bottom: 20px; 
}
[class*='col-']:last-of-type {
	padding-right: 0;
}
a {
	text-decoration: none;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h3 {
	text-align: center;
	margin-bottom: 0;
}
.grid {
	margin: 0;
}
.col-1-4 {
	display: inline-block;
	width: 25%;
	height: 100%;
	margin-bottom: 25px;
	margin: 30px;
	position: relative;
	margin: auto;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3em;
	padding-top: 3em;
}
.module {
	padding: 10px;
	text-align: center;
	color: #eee;
	max-height: 150px;
	max-width: 180px;
	background-color: #006d2c;
	border-radius: 2px;
}
.module:hover {
	background-color: #999;
	cursor: pointer;
	color: #006d2c;
}
.grid-pad {
	padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
	padding-right: 20px;
}
@media (max-width: 600px) {
	.module {
		font-size: 10px;
		max-height: 75px;
	}
}
@media (max-width: 1024px) {
	.grid {
		margin: 0;
	}
	.module {
		min-width: 60px;
	}
}