/*Master Styles for the app*/
html {
	height: 800px;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
	color: green;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}
body {
	margin: 0;
	height: 100%;
}
html {
	margin: 0;
}
body, input[text], button {
	color: #888;
	font-family: Cambria, Georgia;
	text-align: center;
}

/*Everywhere else*/
* {
	font-family: Arial, Helvetica, sans-serif;
}